﻿
html {
    font-size: 16px;
}

body {
    background: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
}

.page-wrapper {
    padding: 0 50px 30px 50px;
    max-width: 1200px;
    margin: 30px auto 0 auto;
}

#footer {
    padding: 10px 0 10px 0;
    height: 40px;
    bottom: 0;
    color: white;
    background: #2d2d2d;
    text-align: center;
}

#header {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    background: #2d2d2d;
    color: white;
    top: 0;
    padding: 20px 0 20px 0;
}

.main-menu li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.2em;
}

.main-menu a {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 1em;
    border-right: 1px solid #2d2d2d;
}

    .main-menu a:hover {
        color: #65b6de;
    }

.main-menu li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.row {
    text-align: center;
    margin-bottom: 20px;
}

.col-md-12 {
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    background: #ffffff;
}

p {
    font-size: 16px;
}

pre {
    font-size: 1em;
    padding: 50px 50px 0 50px;
    text-align: left;
    height: auto;
    max-height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

h1 {
    font-weight: bold;
}

h1, h2 {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    background: #2d2d2d;
    color: white;
}

.usefulLinks li {
    list-style: none;
    margin-right: 1em;
    font-size: 1.2em;
}

.usefulLinks a {
    color: #2d2d2d;
    text-decoration: none;
    padding-right: 1em;
}

    .usefulLinks a:hover {
        color: #65b6de;
    }

.sample-img {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
